<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Password Analyzer</title>
</head>
<body>
    <div class="container">
        <h1>Password Analyzer</h1>
        <form id="passwordForm">
            <label for="password">Enter your password:</label>
            <input type="password" id="password" name="password" required>
            <button type="button" onclick="checkPassword()">Check Password</button>
        </form>
        <p id="result"></p>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
